.container {
    margin: 20px;
  
    mat-table {
      margin-top: 10px;
      margin-bottom: 20px;
  
      mat-header-row {
        background-color: #424242; 
  
        mat-header-cell {
          text-transform: uppercase; 
          color: #ffffff; 
        }      
      }
  
      .mat-column-id {
        flex: 0 0 20%;
        justify-content: center;
      }
  
      .mat-column-action {
        flex: 0 0 10%;
        justify-content: center;
      }
    }
  
    .buttons {
      text-align: right;
    }
  }